<form #myForm="ngForm">
<div class="form-group row">
  <label class="col-form-label col-sm-2"for="username">Username:</label>
  <input type="text" id="username" name="Username" class="form-control col-sm-6"
  required minlength="4" [(ngModel)]="user.username" #username="ngModel"
   placeholder="Username" enabled >
   <div *ngIf="username.invalid && (username.dirty || username.touched)"
    class="alert">
    <div *ngIf="username.errors?.['required']">
      Name is required.
    </div>
  <div *ngIf="username.errors?.['minlength']">
    Name must be at least 4 characters long.
    </div>
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="password">Password:</label>
  <input type="text" id="password" name="Password" class="form-control col-sm-6"
  required minlength="8" [(ngModel)]="user.password" #password="ngModel"
   placeholder="Password" enabled >
   <div *ngIf="password.errors?.['required']">
    Password is required.
  </div>
  <div *ngIf="password.errors?.['minlength']">
    Password must be at least 8 characters long.
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="firstName">First Name:</label>
  <input class="form-control col-sm-6" [(ngModel)]='user.firstName'
  type="text" name="FirstName"
  id="firstname" placeholder="First Name" enabled >
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="lastName">Last Name:</label>
  <input class="form-control col-sm-6" [(ngModel)]='user.lastName'
  type="text" name="LastName"
  id="lastname" placeholder="Last Name" enabled >
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="phone">Phone:</label>
  <input class="form-control col-sm-6" [(ngModel)]='user.phone'
  type="text" name="Phone"
  id="phone" placeholder="Phone" enabled >
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="email">Email:</label>
  <input class="form-control col-sm-6" [(ngModel)]='user.email'
  type="text" name="Email"
  id="email" placeholder="Email" enabled >
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="reviewer">Is Reviewer?:</label>
  <input class="form-control col-sm-6"[(ngModel)]='user.reviewer'
  type="checkbox" name="Reviewer"
  id="reviewer" placeholder="Reviewer" enabled>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="admin">Is Admin?:</label>
  <input class="form-control col-sm-6"[(ngModel)]='user.admin'
  type="checkbox" name="Admin"
  id="admin" placeholder="Admin" enabled>
</div>


<button type="button" class="btn btn-primary" [disabled]="myForm.invalid" (click)="createUser()">Save</button>
</form>

