<app-menu></app-menu>
<form #myForm="ngForm">
  <div class="form-group row">
    <label class="col-form-label col-sm-2"for="username">Username:</label>
    <input type="text" id="username" name="Username" class="form-control col-sm-6"
    required minlength="4" [(ngModel)]="user.username" #username="ngModel"
     placeholder="Username"  enabled >
  </div>
     <div class="form-group row" *ngIf="username.invalid && (username.dirty || username.touched)"
      class="alert">
      <div class="form-group row text-danger" style="height: 0px;" *ngIf="username.errors?.['required']">
        <label class="col-form-label col-sm-2"></label>
        <div>This field is required</div>
      </div>
    <div class="form-group row text-danger" style="height: 0px;" *ngIf="username.errors?.['minlength']">
      <label class="col-form-label col-sm-2"></label>
      <div>*Username must be 4 characters</div>
      </div>
    </div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="password">Password:</label>
  <input type="text" id="password" name="Password" class="form-control col-sm-6"
  required minlength="8" [(ngModel)]="user.password" #password="ngModel"
   placeholder="Password" enabled >
</div>
   <div class="form-group row" *ngIf="password.invalid && (password.dirty || password.touched)"
    class="alert">
    <div class="form-group row text-danger" style="height: 0px;" *ngIf="password.errors?.['required']">
      <label class="col-form-label col-sm-2"></label>
      <div>This field is required</div>
    </div>
  <div class="form-group row text-danger" style="height: 0px;" *ngIf="password.errors?.['minlength']">
    <label class="col-form-label col-sm-2"></label>
    <div>*Password must be 8 characters</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2"for="firstName">First Name:</label>
    <input type="text" id="firstName" name="FirstName" class="form-control col-sm-6"
    required [(ngModel)]="user.firstName" #firstName="ngModel"
     placeholder="First Name" enabled >
  </div>
     <div class="form-group row" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
      class="alert">
      <div class="form-group row text-danger" *ngIf="firstName.errors?.['required']">
        <label class="col-form-label col-sm-2"></label>
        <div>This field is required</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="LastName" class="form-control col-sm-6"
      required [(ngModel)]="user.lastName" #lastName="ngModel"
       placeholder="Last Name" enabled >
    </div>
       <div class="form-group row" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
        <div class="form-group row text-danger" style="height: 0px;" *ngIf="lastName.errors?.['required']">
          <label class="col-form-label col-sm-2"></label>
          <div>This field is required</div>
        </div>
      </div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="phone">Phone:</label>
  <input type="tel" id="phone" name="Phone" class="form-control col-sm-6"
    required [(ngModel)]="user.phone" #phone="ngModel"
    placeholder="888 888 8888" minlength="10" maxlength="12" enabled >
</div>
<div class="form-group row"  *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert">
  <div class="form-group row text-danger" style="height: 0px;" *ngIf="phone.errors?.['required']">
    <label class="col-form-label col-sm-2"></label>
    <div>This field is required</div>
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="email">Email:</label>
  <input type="text" id="email" name="Email" class="form-control col-sm-6"
  required [(ngModel)]="user.email" #email="ngModel"
   placeholder="Email" enabled >
</div>
   <div class="form-group row" *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
    <div class="form-group row text-danger" style="height: 0px;" *ngIf="email.errors?.['required']">
      <label class="col-form-label col-sm-2"></label>
      <div>This field is required</div>
    </div>
  </div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="reviewer">Is Reviewer?:</label>
  <input class="form-control col-sm-6"[(ngModel)]='user.reviewer'
  type="checkbox" name="Reviewer"
  id="reviewer" placeholder="Reviewer" enabled>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2"for="admin">Is Admin?:</label>
  <input class="form-control col-sm-6"[(ngModel)]='user.admin'
  type="checkbox" name="Admin"
  id="admin" placeholder="Admin" enabled>
</div>


<button type="button" class="btn btn-primary" [disabled]="myForm.invalid" (click)="createUser()">Save</button>
</form>

