<app-menu></app-menu>
<form #myForm="ngForm">
  <div class="form-group row">
    <label class="col-form-label col-sm-2"for="name">Name:</label>
    <input type="text" id="name" name="Name" class="form-control col-sm-6"
     [(ngModel)]="product.name" #name="ngModel"
     placeholder="Name" required enabled >
  </div>
  <div class="form-group row" *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
      <div class="form-group row text-danger" *ngIf="name.errors?.['required']">
        <label class="col-form-label col-sm-2"></label>
      <div>This field is required</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2"for="partNumber">Part Number:</label>
    <input type="text" id="partNumber" name="PartNumber" class="form-control col-sm-6"
     [(ngModel)]="product.partNumber" #partNumber="ngModel"
     placeholder="PartNumber" required enabled >
  </div>
  <div class="form-group row" *ngIf="partNumber.invalid && (partNumber.dirty || partNumber.touched)" class="alert">
      <div class="form-group row text-danger" *ngIf="partNumber.errors?.['required']">
        <label class="col-form-label col-sm-2"></label>
      <div>This field is required</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2"for="price">Price:</label>
    <input type="text" id="price" name="Price" class="form-control col-sm-6"
     [ngModel]="product.price | currency" #price="ngModel"
     placeholder="Price" required enabled >
  </div>
  <div class="form-group row" *ngIf="price.invalid && (price.dirty || price.touched)" class="alert">
      <div class="form-group row text-danger" *ngIf="price.errors?.['required']">
        <label class="col-form-label col-sm-2"></label>
      <div>This field is required</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2"for="vendor">Vendor:</label>
    <select type="text" id="vendor" name="Vendor" class="form-control col-sm-6"
     [(ngModel)]="product.vendor" #vendor="ngModel"
     placeholder="Vendor" required enabled >
     <option value=""> - - select - -</option>
     <option *ngFor="let vendor of vendors" [ngValue]="vendor">
        {{vendor.name}}
      </option>
    </select>
  </div>
  <div class="form-group row" *ngIf="vendor.invalid && (vendor.dirty || vendor.touched)" class="alert">
      <div class="form-group row text-danger" *ngIf="vendor.errors?.['required']">
        <label class="col-form-label col-sm-2"></label>
      <div>This field is required</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="unit">Unit:</label>
    <input
      class="form-control col-sm-6"
      [(ngModel)]="product.unit"
      type="text"
      name="Unit"
      id="unit"
      placeholder="Unit"
      enabled
    />
  </div>

<button type="button" class="btn btn-primary" [disabled]="myForm.invalid" (click)="updateProduct()">Save</button>
</form>
